In [ ]:
##Q.1 ** What is 7 to the power of 4?**

In [2]:
7**4

2401

In [ ]:
##Q.2 ** Split this string:**

s = "Hi there Yogesh!"
*into a list. *

In [5]:
s="Hi there Yogesh!"

In [6]:
s.split()

['Hi', 'there', 'Yogesh!']

In [ ]:
##Q.3 ** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometer

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
'The diameter of {} is {} kilometers.'.format(planet,diameter)

'The diameter of Earth is 12742 kilometers.'

In [9]:
##Q.4 ** Given this nested list, use indexing to grab the word "hello" **

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [11]:
lst[3][1][2][0]

'hello'

In [12]:
##Q.5 ** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [14]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [17]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [18]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [19]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [20]:
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [21]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
##Q.6 ** Create a function that grabs the email website domain from a string in the form: **
user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [30]:
a='user@domain.com'

In [31]:
a

'user@domain.com'

In [32]:
a.split('.')

['user@domain', 'com']

In [33]:
a.split('@')

['user', 'domain.com']

In [34]:
a.split('@')[1]

'domain.com'

In [35]:
##Q.7 ** Create a basic function that returns True if the word 'dog' is contained in the input string. 
##Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [37]:
#1
def finddog(s):
    if 'dog' in s:
        print ('true')
    else:
        print ('false')

In [39]:
finddog('dig dog')

true

In [40]:
#2
'Dog'.lower() in 'this is a dog'

True

In [42]:
#3
def find_dog(s):
    return 'dog' in s.lower().split()

true

In [43]:
##Q.8 ** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
count('dog')

In [1]:
def dog_count(s1):
    c=0
    for w in s1.lower().split():
        if w=='dog':
            c+=1
    return c

In [2]:
dog_count('dog dog')

2

In [3]:
dog_count('This dog runs faster than the other dog dude!')

2

In [ ]:
##Q.9 ** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [4]:
seq = ['soup','dog','salad','cat','great']

In [5]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [6]:
(lambda x:x[0]!='s', seq)

(<function __main__.<lambda>(x)>, ['soup', 'dog', 'salad', 'cat', 'great'])

In [7]:
map(lambda x:x[0]!='s', seq)

In [8]:
filter(lambda x:x[0]!='s', seq)

In [9]:
list(map(lambda x:x[0]!='s', seq))

[False, True, False, True, True]

In [10]:
list(filter(lambda x:x[0]!='s', seq))

['dog', 'cat', 'great']

In [ ]:
##10. Final Problem
*You are driving a little too fast, and a police officer stops you. 
Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
If your speed is 60 or less, the result is "No Ticket". 
If speed is between 61 and 80 inclusive, the result is "Small Ticket". 
If speed is 81 or more, the result is "Big Ticket". 
Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- 
on your birthday, your speed can be 5 higher in all cases. *

In [16]:
def caught_speeding(d, birthday):
    if birthday:
         d_new=d-5
    else:
        d_new=d
    if d_new>80:
        print ('Big ticket')
    elif d_new>60:
        print ('Small ticket')
    else:
        print('No ticket')

In [17]:
caught_speeding(80,True)

Small ticket

In [19]:
caught_speeding(100,False)

Big ticket

In [ ]:
###11 Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [21]:
s=input("Enter the number:")
num=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    num=num+s[0]
for c in s:
    if c in str(data):
        num=num+c
print(num)

Enter the number:kh78
78

In [ ]:
##12 Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [22]:
num1=input("Enter the Number:")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
print("Number is:",num3)
print("Reverse is",num3[::-1])
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is:",num3)
    print("Reverse is",num3[::-1])
print("palindrome is:",num3)

Enter the Number:1586
Number is: 8437
Reverse is 7348
Number is: 15785
Reverse is 58751
Number is: 74536
Reverse is 63547
Number is: 138083
Reverse is 380831
Number is: 518914
Reverse is 419815
Number is: 938729
Reverse is 927839
Number is: 1866568
Reverse is 8656681
Number is: 10523249
Reverse is 94232501
Number is: 104755750
Reverse is 057557401
Number is: 162313151
Reverse is 151313261
Number is: 313626412
Reverse is 214626313
Number is: 528252725
Reverse is 527252825
Number is: 1055505550
Reverse is 0555055501
Number is: 1610561051
Reverse is 1501650161
Number is: 3112211212
Reverse is 2121122113
Number is: 5233333325
Reverse is 5233333325
palindrome is: 5233333325

In [ ]:
##13 Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [ ]:
abcde
b=a-2
c=b-2
d=c-2
d=e-2
c+d+e=a
a+b+c+d+e=19

In [35]:
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
             print(str(a)+str(b)+str(c)+str(d)+str(c))

In [36]:
fun1()

75313

In [37]:
pwd

'C:\\Users\\admin'